$font-main: 'Poppins',
sans-serif;
$font-second: 'Playfair Display',
serif;

// font-size
$fontsize-xs: 14px;
$fontsize-s: 16px;

// line-height
$lineheight-xs: 16px;
$lineheight-s: 19px;


//letter-spacing:
$ltsp-xs: 0.23px;
$ltsp-xs-2: 0.27px;
$ltsp-sm: 0.3px;
// $ltsp-sm-2: ;
$ltsp-md: 0.5px;
$ltsp-md-2: 0.6px;
$ltsp-lg: 0.73px;
// $ltsp-lg-2: ;
$ltsp-xl: 0.8px;
// $ltsp-xxl: ;

// color
$white-color: #FFFFFF;
$black-color: #000000;
$red-color: #f93542;
$phone-min-width: 320px;
$phone-max-width: 640px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-mdpi: 1200px;
$desktop-hdpi: 1440px;
$desktop-hdpi-2: 1920px;

// general styles for iphone
//font size and line height
$fontsize-tablet-l: 36px;
$fontsize-tablet-m: 32px;
$fontsize-tablet-s: 20px;
$lineheight-tablet-l: 44px;
$lineheight-tablet-m: 34px;

// path
$assets-path: '../assets/';
