html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  *:focus {
    outline: none; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25.0%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50.0%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75.0%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100.0%; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000; }

footer,
header,
section {
  width: 100%;
  float: left;
  display: inline-block; }

header {
  position: relative; }

.fixed-width {
  margin: 0 280px;
  width: calc(100% - 560px); }

a {
  text-decoration: none;
  display: block; }

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF; }

.col {
  display: inline-block;
  float: left; }

/*home*/
nav {
  background-color: #000000;
  width: 100%;
  display: inline-block;
  height: 70px; }
  nav .l,
  nav .r {
    display: inline-block;
    float: left; }
  nav .r {
    width: calc(100% - 140px);
    float: right; }
    nav .r .hamburger,
    nav .r .close {
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      margin-top: 20px; }
    nav .r ul {
      list-style: none;
      padding: 0;
      margin: 0;
      float: right; }
      nav .r ul li {
        display: block;
        position: relative;
        float: left;
        background-color: inherit;
        padding: 3px 13px;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600; }
        nav .r ul li ul {
          display: none; }
        nav .r ul li a {
          display: block;
          text-decoration: none;
          white-space: nowrap;
          color: #fff; }
          nav .r ul li a:hover {
            color: #f93542; }
        nav .r ul li:hover {
          border-bottom: 4px solid #f93542;
          background-color: #000000; }
          nav .r ul li:hover a {
            color: #f93542; }
          nav .r ul li:hover > ul {
            display: block;
            position: absolute;
            width: 100%;
            margin-top: 9px;
            left: 0;
            top: 20px;
            text-align: center;
            background-color: #FFFFFF; }
            nav .r ul li:hover > ul li {
              float: none;
              margin-left: 0;
              font-weight: 500;
              padding: 10px 0;
              text-transform: capitalize; }
              nav .r ul li:hover > ul li a {
                color: #000000; }
                nav .r ul li:hover > ul li a:hover {
                  color: #f93542; }
              nav .r ul li:hover > ul li:hover {
                background-color: #FFFFFF;
                border-bottom: none; }
              nav .r ul li:hover > ul li:first-child {
                padding-top: 20px; }
              nav .r ul li:hover > ul li:last-child {
                padding-bottom: 20px; }
    nav .r .fast-contact {
      width: 100%;
      display: inline-block;
      float: right;
      margin-top: 14px;
      margin-bottom: 7px;
      padding-right: 15px; }
      nav .r .fast-contact li {
        margin-left: 35px;
        text-transform: lowercase;
        font-weight: 500;
        padding: 0; }
        nav .r .fast-contact li a {
          margin-top: 1px;
          color: #f93542;
          font-size: 14px;
          line-height: 16px; }
        nav .r .fast-contact li i {
          float: left;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 6px;
          margin-top: -2px; }
          nav .r .fast-contact li i.phone {
            width: 16px; }
        nav .r .fast-contact li:hover {
          border-bottom: none; }
  nav img {
    width: 140px;
    height: 35px;
    margin-top: 17px; }

.bcg-img {
  background-image: url(../assets/photos/splash.jpg);
  height: 300px;
  background-size: 110%;
  background-position-y: -100px;
  background-repeat: no-repeat; }

.snake a {
  text-align: center;
  padding: 30px 0;
  margin-left: calc(50% - 100px);
  background-color: #f93542;
  margin-top: 100px;
  color: #000000;
  width: 200px; }
  .snake a:hover {
    background-color: #fc989f; }

.menu-mobile {
  position: absolute;
  padding: 0 20px;
  width: 270px;
  height: 500px;
  background-color: #000000;
  display: none;
  right: 0; }
  .menu-mobile.active {
    display: block; }
  .menu-mobile a {
    text-decoration: none; }
  .menu-mobile .first {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px; }
    .menu-mobile .first li {
      display: block;
      position: relative;
      background-color: inherit;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;
      margin-bottom: 25px; }
      .menu-mobile .first li ul {
        display: none; }
      .menu-mobile .first li a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        color: #fff; }
        .menu-mobile .first li a:hover {
          color: #f93542; }
      .menu-mobile .first li.active > ul {
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 25px 0; }
        .menu-mobile .first li.active > ul li {
          float: none;
          margin-left: 0;
          font-weight: 500;
          text-transform: capitalize;
          padding-left: 20px; }
          .menu-mobile .first li.active > ul li:last-child {
            margin-bottom: 0; }
          .menu-mobile .first li.active > ul li a {
            color: #000000; }
  .menu-mobile .fast-contact li {
    text-transform: lowercase;
    font-weight: 500;
    padding: 0;
    margin-bottom: 10px; }
    .menu-mobile .fast-contact li a {
      color: #f93542;
      font-size: 14px;
      line-height: 16px; }
    .menu-mobile .fast-contact li i {
      float: left;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 6px;
      margin-top: -2px; }

i {
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  background-size: cover;
  display: inline-block; }
  i.close {
    background-image: url("../assets//icons/close-button.svg"); }
  i.hamburger {
    background-image: url("../assets/icons/menu-button.svg"); }
  i.phone {
    background-image: url("../assets/icons/icon.svg"); }
  i.mail {
    background-image: url("../assets/icons/close-envelope.svg"); }

@media (min-width: 320px) and (max-width: 1199px) {
  .off-320 {
    display: none !important; }
  .fixed-width {
    margin: 0 20px;
    width: calc(100% - 40px); }
  nav .logo {
    width: 80px;
    height: 40px; }
  nav .l,
  nav .r {
    margin-top: 10px;
    margin-bottom: 10px; } }

@media (min-width: 640px) and (max-width: 767px) {
  .off-640 {
    display: none !important; }
  nav .l {
    width: 30%; }
  nav .r {
    width: 70%; }
  nav .logo {
    width: 100px;
    height: 50px; }
  nav .menu li a {
    font-size: 16px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .off-768 {
    display: none !important; }
  nav .logo {
    width: 100px;
    height: 50px; }
  nav .menu li a {
    font-size: 16px; } }

@media (min-width: 1024px) and (max-width: 1199px) {
  .off-1024 {
    display: none !important; } }

@media (min-width: 1200px) and (max-width: 1439px) {
  .off-1200 {
    display: none !important; }
  .fixed-width {
    margin: 0 280px;
    width: calc(100% - 560px); } }

@media (min-width: 1440px) {
  .off-1440 {
    display: none !important; } }
