.off-320 {
    display: none !important;
}

.fixed-width {
    margin: 0 20px;
    width: calc(100% - 40px);
}

nav {
    .logo {
        width: 80px;
        height: 40px;
    }

    .l,
    .r {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}