.off-640 {
    display: none !important;
}

nav {
    .l {
        width: 30%;
    }

    .r {
        width: 70%;
    }

    .logo {
        width: 100px;
        height: 50px;
    }

    .menu {
        li {
            a {
                font-size: 16px;
            }
        }
    }
}