.off-768 {
    display: none !important;
}

nav {
    .logo {
        width: 100px;
        height: 50px;
    }

    .menu {
        li {
            a {
                font-size: 16px;
            }
        }
    }
}