* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $black-color;
}

footer,
header,
section {
    width: 100%;
    float: left;
    display: inline-block;
}

header {
    position: relative;
}

.fixed-width {
    margin: 0 280px;
    width: calc(100% - 560px);
}

a {
    text-decoration: none;
    display: block;
}

#{headings(1, 6)} {
    color: $white-color;
}

.col {
    display: inline-block;
    float: left;
}


/*home*/

nav {
    background-color: $black-color;
    width: 100%;
    display: inline-block;
    height: 70px;

    .l,
    .r {
        display: inline-block;
        float: left;

    }

    .r {
        width: calc(100% - 140px);
        float: right;

        .hamburger,
        .close {
            width: 30px;
            height: 30px;
            cursor: pointer;
            float: right;
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            float: right;

            li {
                display: block;
                position: relative;
                float: left;
                background-color: inherit;
                padding: 3px 13px;
                text-transform: uppercase;
                font-size: $fontsize-s;
                line-height: $lineheight-s;
                font-weight: 600;

                ul {
                    display: none;
                }

                a {
                    display: block;
                    text-decoration: none;
                    white-space: nowrap;
                    color: #fff;

                    &:hover {
                        color: $red-color;
                    }
                }

                &:hover {
                    border-bottom: 4px solid $red-color;
                    background-color: $black-color;

                    a {
                        color: $red-color;
                    }

                    >ul {
                        display: block;
                        position: absolute;
                        width: 100%;
                        margin-top: 9px;
                        left: 0;
                        top: 20px;
                        text-align: center;
                        background-color: $white-color;


                        li {
                            float: none;
                            margin-left: 0;
                            font-weight: 500;
                            padding: 10px 0;
                            text-transform: capitalize;

                            a {
                                color: $black-color;

                                &:hover {
                                    color: $red-color;
                                }
                            }

                            &:hover {
                                background-color: $white-color;
                                border-bottom: none;
                            }

                            &:first-child {
                                padding-top: 20px;
                            }

                            &:last-child {
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }

        .fast-contact {
            width: 100%;
            display: inline-block;
            float: right;
            margin-top: 14px;
            margin-bottom: 7px;
            padding-right: 15px;

            li {
                margin-left: 35px;
                text-transform: lowercase;
                font-weight: 500;
                padding: 0;

                a {
                    margin-top: 1px;
                    color: $red-color;
                    font-size: $fontsize-xs;
                    line-height: $lineheight-xs;
                }

                i {
                    float: left;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                    margin-top: -2px;

                    &.phone {
                        width: 16px;
                    }
                }

                &:hover {
                    border-bottom: none;
                }
            }
        }
    }

    img {
        width: 140px;
        height: 35px;
        margin-top: 17px;
    }
}

.bcg-img {
    background-image: url(#{$assets-path}photos/splash.jpg);
    height: 300px;
    background-size: 110%;
    background-position-y: -100px;
    background-repeat: no-repeat;
}

.snake {
    a {
        text-align: center;
        padding: 30px 0;
        margin-left: calc(50% - 100px);
        background-color: $red-color;
        margin-top: 100px;
        color: $black-color;
        width: 200px;

        &:hover {
            background-color: lighten($color: $red-color, $amount: 20%);
        }
    }
}

.menu-mobile {
    position: absolute;
    padding: 0 20px;
    width: 270px;
    height: 500px;
    background-color: $black-color;
    display: none;
    right: 0;

    &.active {
        display: block;
    }

    a {
        text-decoration: none;
    }

    .first {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 30px;

        li {
            display: block;
            position: relative;
            background-color: inherit;
            text-transform: uppercase;
            font-size: $fontsize-s;
            line-height: $lineheight-s;
            font-weight: 600;
            margin-bottom: 25px;

            ul {
                display: none;
            }

            a {
                display: block;
                text-decoration: none;
                white-space: nowrap;
                color: #fff;

                &:hover {
                    color: $red-color;
                }
            }

            &.active {
                >ul {
                    display: block;
                    width: 100%;
                    background-color: $white-color;
                    width: calc(100% + 40px);
                    margin-left: -20px;
                    padding: 25px 0;


                    li {
                        float: none;
                        margin-left: 0;
                        font-weight: 500;
                        text-transform: capitalize;
                        padding-left: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }


                        a {
                            color: $black-color;
                        }
                    }
                }
            }
        }
    }

    .fast-contact {
        li {
            text-transform: lowercase;
            font-weight: 500;
            padding: 0;
            margin-bottom: 10px;

            a {
                color: $red-color;
                font-size: $fontsize-xs;
                line-height: $lineheight-xs;
            }

            i {
                float: left;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 6px;
                margin-top: -2px;
            }
        }
    }
}